/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

*:hover, *:active {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

html {
   min-height: 100%;
}

body{
	background: #F4EBC8; /* Old browsers */
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center top, circle farthest-side, #fff 0%, #F4EBC8 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center top, circle farthest-side, #fff 0%, #F4EBC8 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center top, circle farthest-side, #fff 0%, #F4EBC8 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center top, 0, center top, 477, color-stop(0, #fff), color-stop(1, #F4EBC8));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center top, circle farthest-side, #fff 0%, #F4EBC8 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-side at center top, #fff 0%, #F4EBC8 100%);
	background-repeat:no-repeat;
}

.full-width {
	width:100% !important;
	box-sizing: border-box;
	margin-top:3px !important;
}

.center {
	text-align: center;
}

.completed {
	/*padding: 10px 0;*/
}

.completed li {
	margin: 0px;
	margin-bottom: 5px;
	background-color: white;
	padding: 1em 1em;
	line-height: 1.4em;
	font-weight:bold;
}

.completed li:hover {
	background-color:rgba(100, 150, 225, .8);
	cursor:pointer;
	color:white;
}

.completed li:last-child {
}

.completed li span {
	font-weight: normal;
	padding: .5em 10px;
	font-size:.8em;
	line-height: .9em;
	/*border-radius: 5px;*/
	margin:.1em 5px;
	/*margin-top:-3px;*/
	float:right;
}

.completed li span.gray {
	background-color: rgba(0,0,0,.4);
	color:white;
	text-shadow: 1px 1px 0px black;
}

.completed li span.blue {
	background-color:rgb(100, 150, 225);
	color: #fff;
	text-shadow: 1px 1px 0px rgb(80, 120, 185);
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/