/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; padding: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; padding-left: 10px; padding-right: 10px; box-sizing:border-box; }
    .row                                        { padding-bottom: 20px; }

    .right                                      { float:right !important; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { padding-left: 0; }
    .column.omega, .columns.omega               { padding-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 6.25%; }
    .container .four.columns                    { width: 25%; }
    .container .eight.columns                   { width: 50%; }
    .container .twelve.columns                  { width: 75%; }
    .container .sixteen.columns                 { width: 100%; }

    .container .one-third.column                { width: 33.33%; }
    .container .two-thirds.column               { width: 66.66%; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 6.25%;  }
    .container .offset-by-two                   { padding-left: 12.5%; }
    .container .offset-by-three                 { padding-left: 18.75%; }
    .container .offset-by-four                  { padding-left: 25%; }
    .container .offset-by-five                  { padding-left: 31.25%; }
    .container .offset-by-six                   { padding-left: 37.5%; }
    .container .offset-by-seven                 { padding-left: 43.75%; }
    .container .offset-by-eight                 { padding-left: 50%; }
    .container .offset-by-nine                  { padding-left: 56.25%; }
    .container .offset-by-ten                   { padding-left: 62.5%; }
    .container .offset-by-eleven                { padding-left: 68.75%; }
    .container .offset-by-twelve                { padding-left: 75%; }
    .container .offset-by-thirteen              { padding-left: 81.25%; }
    .container .offset-by-fourteen              { padding-left: 87.5%; }
    .container .offset-by-fifteen               { padding-left: 93.75%; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    /*@media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  {  }
        .container .column,
        .container .columns                         { padding-left: 10px; padding-right: 10px;  }
        .column.alpha, .columns.alpha               { padding-left: 0; padding-right: 10px; }
        .column.omega, .columns.omega               { padding-right: 0; padding-left: 10px; }
        .alpha.omega                                { padding-left: 0; padding-right: 0; }
    }*/


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    /*@media only screen and (max-width: 767px) {
        .container { }
        .container .columns,
        .container .column { padding: 0; }
    }*/


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    /*@media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { }
        .container .columns,
        .container .column { padding: 0; }
    }*/


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    .box {
        box-sizing: border-box;
    }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
