<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Signika:600' rel='stylesheet' type='text/css'>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.0-rc.3/lodash.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js"></script>
		<script type="text/javascript" src="./app.js"></script>

		<link rel="stylesheet" href="./css/base.css">
		<link rel="stylesheet" href="./css/skeleton.css">
		<link rel="stylesheet" href="./css/layout.css">

		<script id="list-item-template" type="text/template">
			<%= title %><% if(points){ %><span class="blue">+<%= points %></span><% } %><span class="blue"><%= time %></span>
		</script>
	</head>
	<body>
		<div id="todoneapp" class="container">
			<div class="sixteen columns center">
				<embed src="./svg/tree.svg" type="image/svg+xml" style="max-width:50%;max-height:100px;"/>
				<h2>ToDone</h2>
			</div>
			<div class="two-thirds column">
				<input id="taskname" type="text" placeholder="Enter a task..." class="full-width">
			</div>
			<div class="one-third column">
				<button id="taskbutton" class="full-width">Done.</button>
			</div>
			<div class="sixteen columns">
				<ul class="completed" id="completed">
				</ul>
			</div>
		</div>
	</body>	
</html>